header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);

  padding: 20px 10px;

  background-color: #09092677;
  backdrop-filter: blur(4px);

  border: 1px solid #559;
  border-radius: 0 0 10px 10px;

  z-index: 10000;

  a.option {
    font-size: 24px;
    font-weight: 700;
    padding: 0 10px;
    border-right: 1px solid white;

    white-space: nowrap;

    color: #fff;
    text-decoration: none;

    cursor: pointer;

    transition: .3s;

    &:last-of-type {
      border: none;
    }

    &:hover {
      opacity: .8;
    }
    &:focus {
      opacity: 1;
    }
  }
}

@media screen and (orientation: portrait) {
  header {
    flex-wrap: wrap;
    width: 100vw;
    box-sizing: border-box;

    padding: 20px 0px;

    a.option {
      font-size: 14px;
    }
  }
}